# Database
DB_HOST=db
DB_PORT=5432
DB_USER=zeroboard
DB_PASSWORD=changeme
DB_NAME=zeroboard

# Backend
CORS_ORIGINS=http://localhost:3000
ENVIRONMENT=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
